*{
    background-color: beige;
}


.heading{
    color: blueviolet;
    margin: 20px;
    text-align: center;
}

.text_1{
    margin: 20px;
    color: blueviolet;
}

form .basic_info label{
    display: block;
    color: blueviolet;
    margin-top: 20px;
}

form .text_2 label{
    color: blueviolet;
}

.btn_1{
    margin-top: 15px;
    color: white;
    background-color: green;
    border-radius: 5px;
}

.btn_2{
     margin-top: 15px;
    color: white;
    background-color: red;
    border-radius: 5px;
}